*{
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.header {
  background-image: url(../img/gory.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}


.container {
  width: 1170px;
}

table {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;  
}

th {
  background-color: rgb(252, 94, 94);
  
}